[Assisted Install]

License Accepted=1

Deployment Options=0

Admin Console User=fmsadmin

Admin Console Password={{ fms_admin_console_password }}

Admin Console PIN={{ fms_admin_console_pin }}

License Certificate Path=    